/* global style */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #16a085;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

/* nav */
nav.navbar {
  z-index: 999;
  padding: 0.7rem 1rem !important;
}

.navbar-brand {
  width: 60px;
}

.nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 2.5rem;
}

.nav-link:hover {
  color: #00ffff !important;
}

.active {
  color: #00ffff !important;
}

button.navbar-toggler {
  background: unset;
  border: unset;
  outline: unset;
}

.navbar .fa-angle-down {
  margin-left: 0.6rem;
}

.navbar .dropdown-menu .dropdown-item {
  font-size: 1.2rem;
}

/* jumbotron */
.jumbotron {
  background-image: url("../img/pulau1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  margin-top: 6rem;
}

.jumbotron .text-heading {
  color: white;
  font-weight: 300;
  margin-top: 6rem;
  text-align: center;
}

.jumbotron .text-heading span {
  font-weight: 500;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

/* info-panel  */
.container .info-panel {
  margin-top: -4rem;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

.info-panel img {
  width: 5rem;
  height: 3.2rem;
}

.info-panel p {
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  margin-left: 2px;
  margin-top: 1.8rem;
}

.main {
  margin-top: -4rem;
}

.main h1 {
  font-weight: 600;
  margin-bottom: 3rem;
}

.main h3 {
  line-height: 0.8;
}

.main img {
  margin-bottom: 3rem;
}

.main .isi {
  position: relative;
}

.main span {
  display: inline-block;
  background: #00ffff;
  color: white;
  width: 3rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 1rem;
  line-height: 2.5rem;
  position: absolute;
  top: 20%;
}

.main p {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 4rem;
}

.download {
  padding: 30px 0;
}

.download h1 {
  text-align: center;
}

.download hr {
  width: 55%;
  margin: 2rem auto 3rem;
  border: 1px solid #ef8641;
}

.barcode {
  display: flex;
  justify-content: space-evenly;
}

.barcode-ios img,
.barcode-android img {
  width: 18rem;
}

.barcode-ios p,
.barcode-android p {
  font-weight: 600;
  text-align: center;
}

.barcode p.android {
  margin-left: 4rem;
}

.barcode p.ios {
  margin-left: 6.4rem;
}

.app-store {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.app-store .android-store img,
.app-store .ios-store img {
  width: 15rem;
}

/* footer */
.footer {
  position: relative;
  background: #f1f1f1;
  padding-top: 2rem;
}

.footer-top {
  padding-bottom: 5rem;
}

.footer-top .footer-item {
  padding-top: 0.8rem;
}

.footer-top .footer-link {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  text-decoration: none;
}

.footer-link span {
  color: var(--green);
  font-weight: 600;
}

.footer-top h3 {
  margin-top: 2rem;
  font-weight: 600;
}

.footer-top .link-download img {
  margin-top: 8px;
}

.footer-top .follow-us img {
  margin-right: 5px;
}

.footer-top .follow-us a {
  text-decoration: none;
}

.footer .footer-bottom {
  position: absolute;
  left: 0;
  right: 0;
  background: #f1f1f1;
}

.footer-bottom p {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.footer-bottom span {
  color: var(--green);
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  /* navbar */
  .navbar-brand {
    width: 80px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .jumbotron {
    height: 450px;
    background-position-x: 0px;
  }

  .jumbotron .text-heading {
    color: white;
    margin-top: 11rem;
    font-size: 4rem;
  }

  /* info-panel */
  .container .info-panel {
    margin-top: -8rem;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    padding: 2rem 0.5rem;
  }

  .info-panel p {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 2px;
    margin-top: 1.8rem;
  }

  .info-panel .friendly img {
    margin-top: -6px;
    width: 5rem;
    height: 3rem;
  }

  /* download */
  .download h1 {
    font-size: 3rem;
  }

  .download hr {
    width: 45%;
    margin: 2rem auto 3rem;
    border: 1px solid #ef8641;
  }

  .app-store {
    display: unset;
  }

  .app-store .android-store img,
  .app-store .ios-store img {
    width: 20rem;
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
  /* navbar */
  .navbar-brand {
    width: 80px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .jumbotron {
    height: 500px;
  }

  .jumbotron .text-heading {
    color: white;
    margin-top: 11rem;
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  /*   info-panel */
  .container .info-panel {
    margin-top: -8rem;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    padding: 2rem 0.5rem;
  }
  /* main */

  .main {
    margin-top: -3rem;
  }

  .main h3 {
    font-size: 2rem;
  }

  .main h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .main .keterangan {
    margin-left: 4rem;
  }

  .main span {
    background: #00ffff;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    line-height: 3rem;
    font-size: 1.3rem;
    top: 0.5rem;
  }

  .main p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 2.5rem;
    margin-left: 4.4rem;
  }

  /* download */
  .download h1 {
    font-size: 3.5rem;
  }

  .download hr {
    width: 30%;
    margin: 2rem auto 5rem;
    border: 1px solid #ef8641;
  }

  .app-store {
    display: unset;
  }

  .app-store .android-store img,
  .app-store .ios-store img {
    width: 24rem;
    margin-top: 1rem;
  }
}
