:root {
  --primary-color: #E54919;
  --nav-color: #E54919;
  --color: #6ac7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Oswald', sans-serif;

}

/* nav */
.navbar .navbar-brand img {
  width: 4rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: larger;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--nav-color);
}

.active {
  color: var(--nav-color) !important;
}

/* jumbotron */
.jumbotron.jumbotron-fluid {
  background: url(../img/bg-pulau.jpg);
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45% 0;
}

.jumbotron .jumbotron__column__text {
  margin-top: 6.5rem;
}

.jumbotron .jumbotron__column__text h1 {
  color: white;
  font-weight: 300;
  display: none;
  text-shadow: 2px 3px 5px black;
}

.jumbotron .jumbotron__column__text h1 span {
  font-weight: 500;
}

/* about */
.about {
  background: #fcfcfc;
  padding: 20px;
  margin-top: -2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.about p {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 0.8rem;
}

/* destination */
.destination {
  margin: 4rem;
}

.destination .title-item-gimmick .left {
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.destination .title-item {
  position: relative;
}

.destination .title-item h3 {
  text-align: center;
  font-weight: 500;
}

.destination .card {
  margin: 30px -40px;
}

.destination .card:hover {
  transform: scale(1.07);
  transition: 0.3s;
}

.destination .card img {
  height: 170px;
}

.destination .card .card-body .card-text {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.7);
}

/* features */
.features {
  background: #fcfcfc;
  padding: 50px;
  margin-top: -4rem;
}

.features .title-item-job {
  margin-left: 0;
  margin-top: 2rem;
}

.features .col-text-job {
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 1.2rem;
  margin-left: 0rem;
}

.features .col-text-job p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  margin-left: 1.5rem;
  font-size: 0.9rem;
}

.features .col-text-job p::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  left: -0.37rem;
  border-radius: 50%;
  background: white;
  border: 2px solid var(--primary-color);
}

/* kelebihan */
.features .title-item-kelebihan {
  margin-top: 4rem;
}

.features .col-text-features p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  margin-left: 1.5rem;
  font-size: 0.9rem;
}

.features .col-text-features {
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 1.2rem;
  margin-left: 0;
  margin-bottom: 3rem;
}

.features .col-text-features p::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  left: -0.37rem;
  border-radius: 50%;
  background: white;
  border: 2px solid var(--primary-color);
}

.features img.browsur {
  height: 435px;
  width: 450px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .destination .card {
    margin: 30px auto;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .navbar-nav .nav-item .nav-link {
    margin-left: 50px;
  }

  /* jumbotron */
  .jumbotron .jumbotron__column__text h1 {
    color: white;
    font-weight: 300;
  }

  /* about */
  .about p {
    text-align: left;
    font-size: 1rem;
  }

  /* destination */
  .destination .card-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .destination .card-destination .card {
    width: 20rem;
    margin-left: -6rem;
  }

  .destination .title-item .title-item-gimmick {
    position: absolute;
    border: 1px solid #e5e5e5;
    top: 15px;
  }

  .destination .title-item .title-item-gimmick.left {
    position: absolute;
    left: 0rem;
    margin-left: -1rem;
    width: 200px;
  }

  .destination .title-item .title-item-gimmick.right {
    position: absolute;
    right: 0;
    margin-right: -1rem;
    width: 200px;
  }

  /* features */
  .features {
    margin-top: -4rem;
  }

  .features .title-item-job {
    margin-left: 1.5rem;
    margin-top: 0;
  }

  .features .col-text-job {
    margin-left: 4rem;
  }

  .features .col-text-features {
    margin-left: 4rem;
    margin-bottom: 0rem;
  }

  /* kelebihan */
  .features .title-item-kelebihan {
    margin-top: 0rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar .navbar-nav .nav-item .nav-link {
    margin-left: 50px;
  }

  .navbar .navbar-nav .nav-item .nav-link::after {
    content: '';
    margin-top: 12px;
    display: block;
    width: 0;
    height: 2px;
    background: var(--nav-color);
    transition: width .3s;
  }

  .navbar .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    transition: width .3s;
  }

  .active::after {
    content: '';
    margin-top: 12px;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--nav-color);
  }

  .jumbotron.jumbotron-fluid {
    background-position: 0 -4.5rem;
  }

  .jumbotron .jumbotron__column__text h1 {
    color: white;
    font-weight: 300;
    display: block;
  }

  /* about */
  .about {
    background: #fcfcfc;
    padding: 20px;
    margin-top: -2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .about h3 {
    text-align: left !important;
  }

  .about p {
    text-align: left;
    font-size: 1rem;
  }

  /* destination */
  .destination {
    margin: 4rem;
  }

  .destination .title-item .title-item-gimmick {
    position: absolute;
    border: 1px solid #e5e5e5;
    top: 15px;
  }

  .destination .title-item .title-item-gimmick.left {
    position: absolute;
    left: 0rem;
    margin-left: -1rem;
    width: 310px;
  }

  .destination .title-item .title-item-gimmick.right {
    position: absolute;
    right: 0;
    margin-right: -1rem;
    width: 310px;
  }

  .destination .title-item {
    position: relative;
  }

  .destination .title-item h3 {
    text-align: center;
    font-weight: 500;
  }

  .destination .card {
    margin: 30px -10px;
    width: 13.5rem;
  }

  .destination .card:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }

  .destination .card img {
    height: 170px;
  }

  .destination .card .card-body .card-text {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.7);
  }

  /* features */
  .features {
    margin-top: -5rem;
  }

  .features .title-item-job {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .features .col-text-job {
    margin-left: 2rem;
  }

  .features .col-text-job p {
    margin-left: 1.5rem;
  }

  /* kelebihan */
  .features .title-item-kelebihan {
    margin-top: 4rem;
  }

  .features .col-text-features p {
    margin-left: 2rem;
  }

  .features .col-text-features {
    margin-left: 2.5rem;
  }

  .features img.browsur {
    margin-left: 1rem;
    margin-top: 2rem;
    height: 435px;
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .navbar .navbar-nav .nav-item .nav-link {
    margin-left: 50px;
  }

  .navbar .navbar-nav .nav-item .nav-link::after {
    content: '';
    margin-top: 12px;
    display: block;
    width: 0;
    height: 2px;
    background: var(--nav-color);
    transition: width .3s;
  }

  .navbar .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    transition: width .3s;
  }

  .navbar .navbar-nav .nav-item .nav-link.active::after {
    content: '';
    margin-top: 12px;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--nav-color);
  }

  .jumbotron.jumbotron-fluid {
    background-position: 0 -9rem;
  }

  .jumbotron .jumbotron__column__text h1 {
    color: white;
    font-weight: 300;
    display: block;
  }

  /* about */
  .about {
    background: #fcfcfc;
    padding: 20px;
    margin-top: -2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .about h3 {
    text-align: left !important;
  }

  .about p {
    text-align: left;
    font-size: 1rem;
  }

  /* destination */
  .destination {
    margin: 4rem;
  }

  .destination .title-item .title-item-gimmick {
    position: absolute;
    border: 1px solid #e5e5e5;
    top: 15px;
  }

  .destination .title-item .title-item-gimmick.left {
    position: absolute;
    left: 0rem;
    margin-left: -1rem;
    width: 450px;
  }

  .destination .title-item .title-item-gimmick.right {
    position: absolute;
    right: 0;
    margin-right: -1rem;
    width: 450px;
  }

  .destination .title-item {
    position: relative;
  }

  .destination .title-item h3 {
    text-align: center;
    font-weight: 500;
  }

  .destination .card {
    margin: 30px -5px;
    width: 17rem;
  }

  .destination .card:hover {
    transform: scale(1.07);
    transition: 0.3s;
  }

  .destination .card img {
    height: 170px;
  }

  .destination .card .card-body .card-text {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.7);
  }

  /* features */
  .features {
    margin-top: -5rem;
  }

  .features .title-item-job {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .features .col-text-job {
    margin-left: 2rem;
  }

  .features .col-text-job p {
    margin-left: 1.5rem;
  }

  /* kelebihan */
  .features .title-item-kelebihan {
    margin-top: 5rem;
  }

  .features .col-text-features p {
    margin-left: 2rem;
  }

  .features .col-text-features {
    margin-left: 2.5rem;
  }

  .features img.browsur {
    margin-left: 1rem;
    margin-top: 2rem;
    height: 435px;
    width: 450px;
  }
}